In [134]:
import pandas as pd
from sqlalchemy import create_engine

In [135]:
nba_players_file = "players.csv"
nba_players_df = pd.read_csv(nba_players_file)
nba_players_df.head()

,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [136]:
# Create a filtered dataframe from specific columns
player_cols = ["_id", "name", "position"]
players_transformed = nba_players_df[player_cols].copy()

# Rename the column headers
players_transformed = players_transformed.rename(columns={"_id": "id",
                                                          "name": "player_name"})

# Clean the data by dropping duplicates and setting the index
players_transformed.drop_duplicates("id", inplace=True)
players_transformed.set_index("id", inplace=True)

players_transformed.head()

                   player_name                  position
id
abdelal01       Alaa Abdelnaby             Power Forward
abdulza01      Zaid Abdul-Aziz  Power Forward and Center
abdulka01  Kareem Abdul-Jabbar                    Center
abdulma02   Mahmoud Abdul-Rauf               Point Guard
abdulta01    Tariq Abdul-Wahad            Shooting Guard

In [138]:
nba_salaries_file = "salaries.csv"
nba_salaries_df = pd.read_csv(nba_salaries_file)

In [139]:
# Create a filtered dataframe from specific columns
salaries_cols = ["player_id", "season_end", "salary",  "team"]
salaries_transformed = nba_salaries_df[salaries_cols].copy()

# Rename the column headers
salaries_transformed = salaries_transformed.rename(columns={"player_id": "id",
                                                            "season_end" : "year",
                                                            "salary" : "salary",
                                                           })

# Clean the data by dropping duplicates and setting the index
salaries_transformed.set_index("id", inplace=True)

salaries_transformed.head()

           year  salary                    team
id
abdelal01  1991  395000  Portland Trail Blazers
abdelal01  1992  494000  Portland Trail Blazers
abdelal01  1993  500000          Boston Celtics
abdelal01  1994  805000          Boston Celtics
abdelal01  1995  650000        Sacramento Kings

In [140]:
# Merge two dataframes using an outer join
merged_info = pd.merge(players_transformed, salaries_transformed, on="id", how="outer")
merged_info = merged_info.dropna()
merged_info

,player_name,position,year,salary,team
id,,,,,
abdelal01,Alaa Abdelnaby,Power Forward,1991.0,395000.0,Portland Trail Blazers
abdelal01,Alaa Abdelnaby,Power Forward,1992.0,494000.0,Portland Trail Blazers
abdelal01,Alaa Abdelnaby,Power Forward,1993.0,500000.0,Boston Celtics
abdelal01,Alaa Abdelnaby,Power Forward,1994.0,805000.0,Boston Celtics
abdelal01,Alaa Abdelnaby,Power Forward,1995.0,650000.0,Sacramento Kings
...,...,...,...,...,...
zipsepa01,Paul Zipser,Small Forward,2017.0,750000.0,Chicago Bulls
zipsepa01,Paul Zipser,Small Forward,2018.0,1312611.0,Chicago Bulls
zizican01,Ante Zizic,Center,2018.0,1645200.0,Cleveland Cavaliers
zubaciv01,Ivica Zubac,Center,2017.0,1034956.0,Los Angeles Lakers
zubaciv01,Ivica Zubac,Center,2018.0,1312611.0,Los Angeles Lakers

In [145]:
merged_cols = ["year", "player_name", "position", "salary", "team"]
nba_transformed = merged_info[merged_cols].copy()
nba_transformed

,year,player_name,position,salary,team
id,,,,,
abdelal01,1991.0,Alaa Abdelnaby,Power Forward,395000.0,Portland Trail Blazers
abdelal01,1992.0,Alaa Abdelnaby,Power Forward,494000.0,Portland Trail Blazers
abdelal01,1993.0,Alaa Abdelnaby,Power Forward,500000.0,Boston Celtics
abdelal01,1994.0,Alaa Abdelnaby,Power Forward,805000.0,Boston Celtics
abdelal01,1995.0,Alaa Abdelnaby,Power Forward,650000.0,Sacramento Kings
...,...,...,...,...,...
zipsepa01,2017.0,Paul Zipser,Small Forward,750000.0,Chicago Bulls
zipsepa01,2018.0,Paul Zipser,Small Forward,1312611.0,Chicago Bulls
zizican01,2018.0,Ante Zizic,Center,1645200.0,Cleveland Cavaliers
zubaciv01,2017.0,Ivica Zubac,Center,1034956.0,Los Angeles Lakers
zubaciv01,2018.0,Ivica Zubac,Center,1312611.0,Los Angeles Lakers

In [146]:
nba_transformed = nba_transformed.dropna(axis = 0, how ='any') 
nba_transformed = nba_transformed.sort_values('team', ascending=False).drop_duplicates(subset=['player_name', 'position', 'year'])

# nba_transformed_cond = nfl_transformed['avg_salary'] != "-"
# nfl_transformed = nfl_transformed[nfl_transformed_cond]

nba_transformed.set_index("year", inplace=True)
nba_transformed.sort_values(by=['year'])
nba_transformed.head(30)

,player_name,position,salary,team
year,,,,
2002.0,Hubert Davis,Point Guard and Shooting Guard,2418750.0,Washington Wizards
2007.0,Jarvis Hayes,Shooting Guard and Small Forward,2564127.0,Washington Wizards
2002.0,Rod Strickland,Shooting Guard and Point Guard,3750000.0,Washington Wizards
2001.0,Rod Strickland,Shooting Guard and Point Guard,10000000.0,Washington Wizards
2000.0,Rod Strickland,Shooting Guard and Point Guard,10000000.0,Washington Wizards
2003.0,Tyronn Lue,Point Guard,1870000.0,Washington Wizards
1998.0,Rod Strickland,Shooting Guard and Point Guard,3450000.0,Washington Wizards
1998.0,Chris Webber,Center and Power Forward,9000000.0,Washington Wizards
2017.0,Sheldon Mac,Shooting Guard,543471.0,Washington Wizards
2012.0,Shelvin Mack,Shooting Guard and Point Guard,473604.0,Washington Wizards
2013.0,Shelvin Mack,Shooting Guard and Point Guard,67253.0,Washington Wizards
2006.0,Jarvis Hayes,Shooting Guard and Small Forward,2011080.0,Washington Wizards
2001.0,Felipe Lopez,Shooting Guard and Point Guard,831120.0,Washington Wizards
2005.0,Jarvis Hayes,Shooting Guard and Small Forward,1879920.0,Washington Wizards
2004.0,Jarvis Hayes,Shooting Guard and Small Forward,1748760.0,Washington Wizards
2017.0,Ian Mahinmi,Center,15944154.0,Washington Wizards
2018.0,Ian Mahinmi,Center,16661641.0,Washington Wizards
1999.0,John Coker,Center,350000.0,Washington Wizards
2013.0,Martell Webster,Small Forward,1600000.0,Washington Wizards
2014.0,Martell Webster,Small Forward,5150000.0,Washington Wizards
2015.0,Martell Webster,Small Forward,5381750.0,Washington Wizards
2016.0,Martell Webster,Small Forward,5613500.0,Washington Wizards
2002.0,Tyronn Lue,Point Guard,1700000.0,Washington Wizards
2002.0,Brendan Haywood,Center,978600.0,Washington Wizards
2016.0,Garrett Temple,Point Guard and Small Forward and Shooting Guard,1100602.0,Washington Wizards
2013.0,Nene,Power Forward and Center,13000000.0,Washington Wizards
2016.0,Ryan Hollins,Center and Power Forward,176375.0,Washington Wizards
2014.0,Garrett Temple,Point Guard and Small Forward and Shooting Guard,916099.0,Washington Wizards
2013.0,Garrett Temple,Point Guard and Small Forward and Shooting Guard,572943.0,Washington Wizards
2011.0,Rashard Lewis,Small Forward and Power Forward,19573711.0,Washington Wizards

In [147]:
#connect to postgres
connection_string = "postgres:postgres@localhost:5432/nba_db"
engine = create_engine(f'postgresql://{connection_string}')

In [71]:
# pd.read_sql_query('CREATE TABLE nba_player_salary(year INT, player_name VARCHAR(500), position VARCHAR(100), team VARCHAR(100), salary INT, PRIMARY KEY (year))', con=engine).head()

In [143]:
engine.table_names()

['nba_player_salary']

In [148]:
nba_transformed.to_sql(name='nba_player_salary', con=engine, if_exists='append', index=True)

In [150]:
pd.read_sql_query('select * from nba_player_salary',con=engine).head(30)

,year,player_name,position,salary,team,age,avg_salary
0,2002,Hubert Davis,Point Guard and Shooting Guard,2418750,Washington Wizards,None,None
1,2007,Jarvis Hayes,Shooting Guard and Small Forward,2564127,Washington Wizards,None,None
2,2002,Rod Strickland,Shooting Guard and Point Guard,3750000,Washington Wizards,None,None
3,2001,Rod Strickland,Shooting Guard and Point Guard,10000000,Washington Wizards,None,None
4,2000,Rod Strickland,Shooting Guard and Point Guard,10000000,Washington Wizards,None,None
5,2003,Tyronn Lue,Point Guard,1870000,Washington Wizards,None,None
6,1998,Rod Strickland,Shooting Guard and Point Guard,3450000,Washington Wizards,None,None
7,1998,Chris Webber,Center and Power Forward,9000000,Washington Wizards,None,None
8,2017,Sheldon Mac,Shooting Guard,543471,Washington Wizards,None,None
9,2012,Shelvin Mack,Shooting Guard and Point Guard,473604,Washington Wizards,None,None
10,2013,Shelvin Mack,Shooting Guard and Point Guard,67253,Washington Wizards,None,None
11,2006,Jarvis Hayes,Shooting Guard and Small Forward,2011080,Washington Wizards,None,None
12,2001,Felipe Lopez,Shooting Guard and Point Guard,831120,Washington Wizards,None,None
13,2005,Jarvis Hayes,Shooting Guard and Small Forward,1879920,Washington Wizards,None,None
14,2004,Jarvis Hayes,Shooting Guard and Small Forward,1748760,Washington Wizards,None,None
15,2017,Ian Mahinmi,Center,15944154,Washington Wizards,None,None
16,2018,Ian Mahinmi,Center,16661641,Washington Wizards,None,None
17,1999,John Coker,Center,350000,Washington Wizards,None,None
18,2013,Martell Webster,Small Forward,1600000,Washington Wizards,None,None
19,2014,Martell Webster,Small Forward,5150000,Washington Wizards,None,None
20,2015,Martell Webster,Small Forward,5381750,Washington Wizards,None,None
21,2016,Martell Webster,Small Forward,5613500,Washington Wizards,None,None
22,2002,Tyronn Lue,Point Guard,1700000,Washington Wizards,None,None
23,2002,Brendan Haywood,Center,978600,Washington Wizards,None,None
24,2016,Garrett Temple,Point Guard and Small Forward and Shooting Guard,1100602,Washington Wizards,None,None
25,2013,Nene,Power Forward and Center,13000000,Washington Wizards,None,None
26,2016,Ryan Hollins,Center and Power Forward,176375,Washington Wizards,None,None
27,2014,Garrett Temple,Point Guard and Small Forward and Shooting Guard,916099,Washington Wizards,None,None
28,2013,Garrett Temple,Point Guard and Small Forward and Shooting Guard,572943,Washington Wizards,None,None
29,2011,Rashard Lewis,Small Forward and Power Forward,19573711,Washington Wizards,None,None